Source: recoll
Section: x11
Priority: optional
Maintainer: Jean-Francois Dockes <jf@dockes.org>
Build-Depends: debhelper (>= 7), 
	       autotools-dev,
	       libqt4-dev,
               libqtwebkit-dev,
	       libxapian-dev (>= 1.0.15),
	       libx11-dev,
	       libz-dev,
               python-all-dev (>= 2.6.6-3~)
Standards-Version: 3.9.3

Package: recoll
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: python-recoll
Recommends: aspell, python, xdg-utils, xsltproc
Suggests: antiword, catdoc, ghostscript, libimage-exiftool-perl, poppler-utils,
 pstotext, python-chm, python-mutagen, unrtf, untex
Description: a personal full text search package with a QT GUI
 The Recoll personal full text search package is based on a very strong 
 backend (Xapian), for which it provides an easy to use and feature-rich 
 interface.
 .
 Features:
    * QT-based GUI.
    * Supports the following document types (and their compressed versions): 
      - Natively: text, html, OpenOffice files, maildir and mailbox 
        (Mozilla and Thunderbird mail ok) with attachments, gaim log files.
      - With external helpers:  pdf (pdftotext), postscript (ghostscript),
        msword (antiword), excel, ppt (catdoc), rtf (unrtf), 
    * Powerful query facilities, with boolean searches, phrases, filter on
      file types and directory tree. 
    * Support for multiple charsets. Internal processing and storage uses
      Unicode UTF-8. 
    * Stemming performed at query time (can switch stemming language after
      indexing) 
    * Easy installation. No database daemon, web server or exotic language
      necessary. 
    * An indexer which runs either as a thread inside the GUI or as an
      external, cron'able program. 
 .
  Homepage: <http://www.lesbonscomptes.com/recoll>
