/*--General-----------------------------------------------*/
html {
    margin 0;
}
body {
       position: relative;
       color: black; 
       font-family: Verdana, Helvetica, Arial, sans-serif;
       margin: 1em;
}

a img {
    border:none;
    margin:0px;
    padding:0px;
}

/*- Menu---------------------------------------*/

div.rightlinks {
    width: 130px;
    float: right;
    font-size: 80%;
    padding-top: 4em;
}

.rightlinks ul {
    margin-left: 2px ; 
    padding-left: 1.5em ;
    line-height: 200%;
}

/*-Main content area-------------------------*/
.content {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 145px;
}

.content img {
    margin: 0.3em;
}

.content dt {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin-left: -1em;
    color: #222299;
}

h1 {
  font-weight:          normal;
  font-size:            140%;
  padding-bottom:       1em;
}
h2 {
  font-weight:          normal;
  font-size:            120%;
  padding-top: 1em;
}
h3 {
  font-weight:          bold;
  font-size:            100%;
  padding-top: 1em;
}
p.indexthumb {
    margin-left: 1em;
}
.guimenu, .guimenuitem, .guisubmenu,
.guilabel, .interface, .guibutton,
.shortcut, .shortcut .keycap {
    background-color: #F0F0F0;
    font-family: monospace;
}

p.remark {
    color: #888888;
    font-size: 80%;
    font-style: italic;
    margin-left: 4em;
    margin-right: 4em;
}
div.news {
    font-size: 80%;
}
.application {
    font-weight: bold;
}
.literal {
    font-family: monospace;
}
.command {
    font-family: monospace;
}
.filename {
    font-family: monospace;
    color: #007a00;
}

.important {
    background: yellow;
}
a.weak {
    color: #aaaaaa;
}

table { empty-cells:show; }
div.intrapage {
    background: #ccccff;
    padding-left: 2em;
    margin-left: -2em;
}