Source: krunner-recoll
Section: kde
Priority: optional
Maintainer: Jean-Francois Dockes <jfd@recoll.org>
Build-Depends: cdbs, 
               debhelper (>= 7), 
               cmake,
               extra-cmake-modules,
               pkg-kde-tools,
               g++,
               libkf5kio-dev,
               libkf5notifications-dev,
               libkf5runner-dev,
               librecoll-dev,
               libxapian-dev,
               libxslt1-dev,
               zlib1g-dev
Standards-Version: 3.9.7
Homepage: http://www.recoll.org/

Package: krunner-recoll
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, recoll
Description: Recoll KDE Krunner plugin
 Recoll KDE krunner plugin, allows displaying Recoll search results in krunner.
