Source: krunner-recoll
Section: kde
Priority: optional
Maintainer: Jean-Francois Dockes <jfd@recoll.org>
Build-Depends: cdbs, 
               cmake,
               libtool,
               pkg-config,
               debhelper (>= 7), 
               bison,
               libkf5i18n-dev,
               libkf5kio-dev,
               libkf5notifications-dev,
               libkf5package-dev,
               libkf5runner-dev,
               librecoll-dev,
               extra-cmake-modules,
               pkg-kde-tools (>= 0.4.0), 
               libaspell-dev,
               libxapian-dev, 
               libxslt1-dev,
               libz-dev
Standards-Version: 3.9.7
Homepage: http://www.recoll.org/

Package: krunner-recoll
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, recoll
Description: Recoll KDE Krunner plugin
 Recoll KDE krunner plugin, allows displaying Recoll search results in krunner.
