#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1

%:
	dh $@ --with python3

override_dh_auto_clean:
	python3 setup.py clean -a
	rm -rf __pycache__/
	dh_clean

override_dh_auto_build:
	python3 setup.py build

override_dh_auto_install:
	python3 setup.py install --root=$(CURDIR)/debian/unity-scope-recoll --install-layout=deb

override_dh_install:
	dh_install --fail-missing
