Source: recoll
Section: x11
Priority: optional
Maintainer: Jean-Francois Dockes <jfd@recoll.org>
Build-Depends: autotools-dev,
               bison,
               debhelper (>= 9),
               dh-python,
               dpkg-dev (>= 1.16.1~),
               libqt5webkit5-dev,
               libx11-dev,
               libxapian-dev (>= 1.2.0),
               libz-dev,
               python-dev (>= 2.6.6-3~),
               python3-all-dev,
               qt5-qmake,
               qtbase5-dev
X-Python-Version: >= 3.4
Vcs-Git: https://anonscm.debian.org/cgit/collab-maint/recoll.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/recoll.git
Homepage: http://www.lesbonscomptes.com/recoll
Standards-Version: 4.1.4

Package: recoll
Architecture: all
Depends: recollgui, recollcmd, ${misc:Depends}
Description: Personal full text search package with a Qt GUI
 This package is a personal full text search package is based on a very strong
 backend (Xapian), for which it provides an easy to use and feature-rich
 interface.
 .
 Features:
  * Qt-based GUI
  * Supports the following document types (and their compressed versions)
   - Natively: text, html, OpenOffice files,  excel, ppt, maildir and
     mailbox (Mozilla and IceDove mail) with attachments, pidgin log files
   - With external helpers:  pdf (pdftotext), postscript (ghostscript), msword
     (antiword), rtf (unrtf). And others...
  * Powerful query facilities, with boolean searches, phrases, filter on file
    types and directory tree
  * Support for multiple charsets, Internal processing and storage uses Unicode
    UTF-8
  * Stemming performed at query time (can switch stemming language after
    indexing)
  * Easy installation. No database daemon, web server or exotic language
    necessary
  * The indexer can run either continuously or in batch.

Package: recollcmd
Architecture: any
Breaks: recoll (<< 1.23.9)
Replaces: recoll (<< 1.23.9)
Depends: python, python3, ${misc:Depends}, ${shlibs:Depends}
Recommends: aspell,
            xdg-utils
Suggests: antiword,
          groff,
          libimage-exiftool-perl,
          poppler-utils,
          pstotext,
          python3-lxml,
          python3-six,
          python3-mutagen,
          python3-rarfile,
          python-recoll,
          python3-recoll,
          unrtf,
          untex,
          unzip,
          wv
Description: Command line programs for recoll
 This package supports indexing and command line querying.
 
Package: recollgui
Architecture: any
Breaks: recoll (<< 1.23.9)
Replaces: recoll (<< 1.23.9)
Depends: recollcmd (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: GUI program and elements for recoll
 Main recoll GUI for configuring, controlling and querying recoll indexes.

Package: python-recoll
Architecture: any
Section: python
Depends: recollcmd (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: Python extension for recoll
 Personal full text search package which is based on a very strong backend
 (Xapian), for which it provides an easy to use and feature-rich interface.
 .
 This package provides Python extension module for recoll which can be use to
 extend recoll such as an Ubuntu Unity Lens.

Package: python3-recoll
Architecture: any
Section: python
Depends: recollcmd (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: Python extension for recoll (Python3)
 Personal full text search package which is based on a very strong backend
 (Xapian), for which it provides an easy to use and feature-rich interface.
 .
 This package provides Python3 extension module for recoll which can be use to
 extend recoll such as an Ubuntu Unity Lens.
