Source: rclgrep
Section: x11
Priority: optional
Maintainer: Jean-Francois Dockes <jfd@recoll.org>
Build-Depends: debhelper (>= 10),
               dh-python,
               dpkg-dev (>= 1.16.1~),
               libchm-dev,
               libmagic-dev,
               libxslt1-dev,
               libz-dev,
               pkg-config,
               python3-all-dev,
               python3-setuptools
X-Python3-Version: >= 3.6
Homepage: https://www.lesbonscomptes.com/recoll
Standards-Version: 4.2.1

Package: rclgrep
Architecture: any
Depends: python3, ${misc:Depends}, ${shlibs:Depends}
Conflicts: recollcmd
Recommends: antiword,
            groff,
            libimage-exiftool-perl,
            poppler-utils,
            python3-lxml,
            python3-six,
            python3-mutagen,
            python3-rarfile,
            unrtf,
            unzip,sfami
            xdg-utils
Suggests: ghostscript,
          untex,
          wv
Description: grep-like program based on recoll data extraction modules.
 The program supports most grep options and aims at supplying a very similar
 output format. It will search all formats supported by Recoll, including
 compound documents and nested archives (mbox, zip, ....) with full
 regexp support (unlike recoll). It does not not create
 an index and the package has no dependency on Xapian. In consequence, 
 searching is vastly slower than when using recoll.
 
